/* .ctn {
padding: 0px 24px;
max-width: 1200px;
margin-left: calc((100% - 1200px) / 2);
margin-right: calc((100% - 1200px) / 2);
position: relative;
} */

.ctn {
    padding: 0px 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
  }


/* media-queries */

